/*-----General-----*/
::selection
{
  background: #981b1e;
}

::-moz-selection
{
  background: #981b1e;
}

#pageTitle {
	background-color: #981b1e;
	padding: 10px 0px;
}

#pageTitle h1 {
	font-family: 'Overpass', sans-serif;
	font-size: 1.75em;
	font-weight: 400;
	color: #fff;
	padding: 0;
	margin: 0;	
}

.blackTxt {
	color: #252525;
}

.whiteTxt {
	color: #ffffff;
}

.redTxt {
	color: #981b1e;
}

.heading {
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
	font-family: 'Overpass', sans-serif;
}

.subHeading {
	font-size: 1.313em;
	font-weight: 400;
	text-align: center;
	font-family: 'Overpass', sans-serif;
}

.paragraph {
	font-size: 1em;
	font-weight: 400em;
	text-align: center;
	font-family: 'Overpass', sans-serif;
}

/*-----Home-----*/
#homeRotatorCon
{
	background-color: #252525;
	background-image: url(../images/home_rotator_1.jpg);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 10px;
}

#homeRotatorText
{
	background-color: rgba(0,0,0,0.3);
	padding: 12px;
}

#bookingCon {
	border-right: solid 2px #650f11;
}

#bookingBarFull {
	background-color: #981b1e;
}

.bookingBar {
	padding: 10px;
}

#bookATour {
	color: #650f11;
	font-size: 1.1em;
	font-weight: 300;
	font-family: 'Overpass', sans-serif;
}

#dontWait {
	color: #fff;
	font-size: 1.35em;
	font-weight: 700;
	margin-top: -10px;
}

#bookingCon h3 {
	font-family: 'Overpass', sans-serif;
}

#bookingInfo p {
	font-family: 'Overpass', sans-serif;
}

#bookingInfo a {
	font-size: 1.85em;
	font-weight: 700;
	font-style: italic;
	margin-top: 10px;
	font-family: 'Overpass', sans-serif;
	transition: .3s ease-in-out all;
}

#bookingInfo a:hover {
	color: #650f11;
}

.linksCon {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: solid 1px #d6d6d6;
}

.linksCon img {
	display: block;
	margin: 0 auto;
}

.iconCon {
	margin-top: 20px;
	margin-bottom: 20px;
}

.iconCon h3 {
	color: #981b1e;
	font-size: 1.25em;
	font-weight: 700;
	font-family: 'Overpass', sans-serif;
	margin-top: 10px;
	text-align: left;
}

.iconCon p {
	color: #252525;
	font-size: 1em;
	font-weight: 400;
	font-family: 'Overpass', sans-serif;
	text-align: left;
}

.vidCon {
	margin-top: 20px;
	margin-bottom: 50px;
}

#homeDonateCon {
	background-color: #8eabc9;
	background-image: url(../images/water.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0px 60px 0px;
	margin-bottom: 50px;
}

.donateTitle {
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	font-family: 'Overpass', sans-serif;
}

.donateInfo {
	font-size: 1em;
	font-weight: 500;
	text-align: center;
	font-family: 'Overpass', sans-serif;
}

#donateButCon {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
}

#donateBut {
	background-color: #981b1e;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	color: #fff;
	font-family: 'Overpass', sans-serif;
	text-align: center;
	font-weight: 700;
}

#donateBut:hover {
	background-color: #ffffff;
	color: #981b1e;
	transition: .3s ease-in-out all;
}

#affiliatesConFull {
	background-color: #d9d9d9;
}

#affiliatesConFull h2 {
	text-align: center;
	padding: 20px;
}

.affiliatesInfo {
	background-color: #fff;
	padding: 10px;
}

#affiliatesControls {
	margin-top: 20px;
	margin-bottom: 50px;
}

#leftArrow {
	float: left;
	width: 40px;
}

#rightArrow {
	transform: rotate(180deg);
	float: right;
	width: 40px;
}

#leftArrow:hover, #rightArrow:hover {
	cursor: pointer;
	filter: brightness(95%);
}

.selectors {
	width: 100px;
	margin: 11px auto 0px auto;
}

.selectorDot {
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background-color: red;
	float: left;
}

.selectorDot:hover {
	cursor: pointer;
}

.selectorDot {
	background-color: #b9b9b9;
}

#activeSelector {
	background-color: #981b1e;
}

/*-----News-----*/
.newsWrapper {
	margin: 20px 0px;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 20px;
}

.newsWrapper img {
	margin-bottom: 15px;
}

.newsWrapper h1 {
	font-family: 'Overpass', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	color: #981b1e;
	margin: 0;
	padding: 0;
}

.newsWrapper h2 {
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	font-weight: 600;
	color: #252525;
}

.newsWrapper p {
	font-family: 'Overpass', sans-serif;
	font-size: .875em;
	font-weight: 400;
	color: #252525;
}

.newsWrapper h3 {
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	font-weight: 600;
	font-style: italic;
}

.newsWrapper a {
	color: #252525;
	transition: .3s ease-in-out all;
}

.newsWrapper a:hover {
	color: #981b1e;
}

/*-----Events-----*/
#eventsWrapper {
	padding: 40px 0px;
}

.eventsCon {
	background-color: #d7d7d7;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}

.eventsCon h1 {
	font-family: 'Overpass', sans-serif;
	font-size: 1.25em;
	font-weight: 700;
	color: #981b1e;
	margin: 0;
	padding: 0;
}

.eventsCon h2 {
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	font-weight: 600;
	color: #252525;
}

.eventsCon p {
	font-family: 'Overpass', sans-serif;
	font-size: .875em;
	font-weight: 600;
	color: #252525;
}

/*-----Contact-----*/
#contactGeneralWrapper {
	padding: 30px 0px;
}

#contactGeneral p {
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	font-weight: 700;
	color: #252525;
	text-align: center;
}

#contactGeneral span {
	font-weight: 400;
	margin-right: 40px;
}

#contactGeneral span:last-child {
	margin-right: 0px;
}

#contactGeneral h1 {
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	margin-top: 30px;
}

#contactGeneral a {
	color: #fff;
	background-color: #981b1e;
	padding: 8px 20px;
	transition: .3s ease-in-out all;
}

#contactGeneral a:hover {
	color: #fff;
	background-color: #6e1214;
}

#formWrapper {
	background-color: #c2c2c2;
	padding: 30px 0px;
}

#formCon {
	padding-right: 0px;
	border-right: none;
}

#formWrapper h1 {
	font-family: 'Overpass', sans-serif;
	font-size: 1.25em;
	font-weight: 700;
	color: #252525;
	text-align: center;
	margin-top: 40px;
}

#formWrapper p {
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #252525;
	text-align: center;
}

#formCon label {
	color: #252525;
	font-family: 'Overpass', sans-serif;
	font-weight: 400;
	font-size: .8em;
}

.address {
	display: none;
}

#inputName, #inputEmailAddress, #inputHouseAddress {
	border: 0px;
	height: 35px;
	background-color: #fff;
	margin-bottom: 8px;
}

#inputName, #inputEmailAddress, #inputHouseAddress:focus {
	box-shadow: none;
}

#formCon textarea {
	height: 100px;
	border: 0px;
	background-color: #fff;
}

#formCon textarea:focus {
	background-color: #fff;
	border: none;
	box-shadow: none;
}

#submitContact {
	float: right;
	border: 0px;
	background-color: #981b1e;
	padding: 8px 25px;
	color: #fff;
	cursor: pointer;
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	font-size: 1em;
	transition: .2s ease-in-out all;
}

#submitContact:hover {
	color: #252525;
}

/*-----Booking-----*/
#bookingHeaderImg {
	background-color: #252525;
	background-image: url(../images/booking_header.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 30px;
}

#bookingHeaderImg h2 {
	font-weight: 400;
	font-size: 2em;
}

#bookingHeaderInfo {
	background-color: #252525;
	padding-top: 15px;
	padding-bottom: 15px;
}

#bookingHeaderInfo h3 {
	font-family: 'Overpass', sans-serif;
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
}

#bookingPhone {
	color: #fff;
	transition: .3s ease-in-out all;
}

#bookingPhone:hover {
	color: #dcdcdc;
}

#bookingHeaderInfo span {
	font-weight: 700;
}

#bookingHeaderPhone {
	float: left;
}

#emailButCon {
	text-align: center;
	display: block;
	margin: 30px auto 20px auto;
}

#emailBut {
	background-color: #981b1e;
	border-radius: 5px;
	padding: 6px 20px 6px 20px;
	color: #fff;
	font-family: 'Overpass', sans-serif;
	text-align: center;
	font-weight: 700;
}

#emailBut:hover {
	background-color: #fff;
	color: #981b1e;
	transition: .3s ease-in-out all;
}

#generalBookingInfo {
	padding: 50px 10px;
}

#bookingRates {
	border-radius: 10px;
	background-color: #a1a1a1;
	padding: 10px;
}

#ratesInfo {
	border-top: solid 1px #848484;
	padding-top: 10px;
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
}

#schedule {
	padding: 100px 0px;
	background-color: #252525;
}

#schedule h2 {
	text-align: center;
}

#whereAndWhenFull {
	background-color: #981b1e;
	margin: 50px 0px;
}

#whereAndWhen {
	padding: 60px 30px;
}

#whereAndWhen p a {
	color: #fff;
}

#whereAndWhen p a:hover {
	text-decoration: underline;
}

#finalBookingDetails {
	margin-bottom: 50px;
}

#pleaseNote {
	background-color: #252525;
	border-radius: 10px;
	padding: 20px;
}

#finePrint {
	margin-top: 30px;
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
}

#finePrint li{
	color: #981b1e;
}

/*-----Gallery-----*/
#galleryInfo {
	padding-top: 40px;
}

#photoGalleryIcon {
	max-width: 175px;
}

#galleryInfo p a {
	color: #475A84;
}

#galleryInfo p a:hover {
	color: #981b1e;
	transition: .3s ease-in-out all;
}

#galleryCon {
	margin-top: 50px;
	margin-bottom: 50px;
}

.galleryPlaceholder {
	margin-bottom: 30px;
}

.galleryPlaceholder img:hover {
	cursor: pointer;
	transform: scale(1.02,1.02);
}

/*-----About-----*/
#aboutTopBarWrapper {
	padding: 90px 0px;
	background-color: #252525;
	background-image: url(../images/about_rotator_1.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

#aboutTopBar h1 {
	font-family: 'Overpass', sans-serif;
	color: #fff;
	font-size: 3em;
	font-weight: 200;
	text-align: center;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

#aboutTopBar h2 {
	font-family: 'Overpass', sans-serif;
	color: #fff;
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

#aboutDesc {
	background-color: #d7d7d7;
	padding: 40px;
	margin: 0;
}

#aboutBook {
	background-color: #898989;
	padding: 40px;
	margin: 0;
}

#aboutBook h1 {
	font-family: 'Overpass', sans-serif;
	color: #252525;
	font-size: 1.5em;
	font-weight: 200;
	margin: 0;
	padding: 0;
	text-align: center;
}

#aboutBook p {
	font-family: 'Overpass', sans-serif;
	font-size: .875em;
	font-weight: 200;
	margin-top: 20px;
	text-align: center;
}

#aboutBook a {
	color: #fff;
	background-color: #981b1e;
	padding: 8px 20px;
	border-radius: 5px;
	transition: .3s ease-in-out all;
}

#aboutBook a:hover {
	color: #fff;
	background-color: #6c1315;
}

#restorWrapper {
	background-color: #981b1e;
	padding: 20px 0px;
}

#restorWrapper h1 {
	font-family: 'Overpass', sans-serif;
	color: #fff;
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
}

#restorWrapper h2 {
	font-family: 'Overpass', sans-serif;
	color: #fff;
	font-size: 1.25em;
	font-weight: 200;
	margin: 0;
	padding: 0;
	text-align: center;
}

#restorWrapper p {
	font-family: 'Overpass', sans-serif;
	font-size: 1.25em;
	font-weight: 200;
	margin-top: 20px;
	text-align: center;
}

#restorWrapper a {
	color: #252525;
	background-color: #fff;
	border-radius: 5px;
	padding: 8px 20px;
	transition: .3s ease-in-out all;
}

#restorWrapper a:hover {
	color: #fff;
	background-color: #252525;
}

#extraDesc {
	background-color: #b7b7b7;
	padding: 30px;
}

#extraDescCon {
	background-color: rgba(0,0,0,0.6);
	padding: 30px;
}

#extraDescCon p {
	text-align: center;
	color: #fff;
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

#islandSizeWrapper {
	padding: 30px 0px;
}

#islandSizeWrapper p {
	text-align: center;
	color: #252525;
	font-family: 'Overpass', sans-serif;
	font-size: 1.25em;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

#islandSizeWrapper img {
	max-height: 150px;
	float: right;
}

#lightHouseHisTitle {
	padding: 20px 0px;
}

#lightHouseHisTitle h1 {
	text-align: center;
	color: #981b1e;
	font-family: 'Overpass', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

#historyWrapper {
	background-color: #981b1e;
	padding: 30px 0px;
}

#historyWrapper p {
	text-align: center;
	color: #fff;
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	font-weight: 400;
	padding: 20px 0px;
	margin: 0;
}

#birdSancWrapper {
	padding: 40px 0px;
}

#birdSancWrapper h1 {
	text-align: center;
	color: #252525;
	font-family: 'Overpass', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
}

#birdSancWrapper img {
	max-width: 150px;
	float: right;
}

#birdSancWrapper p {
	text-align: center;
	color: #252525;
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

/*-----Donate-----*/
#donateInfo {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Overpass', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
}

#donateCon {
	background-color: #252525;
	padding: 50px 20px 50px 20px;
}

#donateAddressCon {
	margin-left: 40px;
	margin-bottom: 40px;
}

.donateAddress {
	color: #fff;
	font-weight: 700;
	font-family: 'Overpass', sans-serif;
	font-size: 1em;
	margin-bottom: -5px;
}

#paypalCon {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
}

#paypalCon p {
	text-align: center;
	font-family: 'Overpass', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	font-style: italic;
}

#paypalCon img {
	width: 50%;
	max-width: 200px;
	display: block;
	margin: 50px auto 20px auto;
}

#donorCategories {
	padding: 80px 10px 80px 10px;
}

.donorCategoryBlack, .donorCategoryWhite, .donorCategoryGrey {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.donorCategoryBlack {
	background-color: #252525;
}

.dontorCategoryWhite {
	background-color: #fff;
}

.donorCategoryGrey {
	background-color: #eee;
}

.donorCategoryBlack h2 {
	font-family: 'Overpass', sans-serif;
	font-size: 1.25em;
	margin: 0;
}

.donorCategoryWhite p, .donorCategoryGrey p {
	font-family: 'Overpass', sans-serif;
	font-size: 0.65em;
	margin: 0;
}

.donorCategoryWhite span, .donorCategoryGrey span {
	font-weight: 700;
}

/*-----Header-----*/
#headerWrapper {
	background: #fff;
}

#skewCon {
	background-color: #fff;
	-moz-transform: skew(-20deg, 0deg);
	-webkit-transform: skew(-20deg, 0deg);
	-o-transform: skew(-20deg, 0deg);
	-ms-transform: skew(-20deg, 0deg);
}

#topNavBar {
	background-color: #252525;
	padding: 6px 0px 0px 0px;
}

#topNavBarPhone {
	display: none;
}

#topNavBar h1 {
	font-family: 'Overpass', sans-serif;
	color: #fff;
	font-size: .5em;
	font-weight: 600;
	margin-top: 4px;
}

#topNavBar a {
	color: #fff;
	transition: .3s ease-in-out all;
}

#topNavBar a:hover {
	color: #dcdcdc;
}

#topNavBar span {
	margin-left: 20px;
}

.topNavBarSocIcon {
	float: right;
	max-width: 20px;
	margin-left: 10px;
	margin-top: 2px;
	transition: .3s ease-in-out all;
}

.topNavBarSocIcon:hover {
	opacity: .8;
}

.title-bar {
	background: transparent;
	padding-right: 0rem;
	padding: 10px 0px 6px 0px;
}

.menu-icon::after {
	background: #981b1e;
	box-shadow: 0 7px 0 #981b1e, 0 14px 0 #981b1e;
	transition: .2s ease-in-out all;
}

.menu-icon:hover::after {
	background: #252525;
	box-shadow: 0 7px 0 #252525, 0 14px 0 #252525;
}

#headerLogo {
	max-height: 60px;
	margin-left: 10px;
	margin-top: 6px;
	margin-bottom: 6px;
	-moz-transform: skew(20deg, 0deg);
	-webkit-transform: skew(20deg, 0deg);
	-o-transform: skew(20deg, 0deg);
	-ms-transform: skew(20deg, 0deg);
}

#mobileNav {
	list-style: none;
	text-align: center;
}

#mobileNav li {
	padding: 10px 0px;
	margin-right: 20px;
	background-color: #e5e5e5;
	margin-bottom: 1px;
	transition: .2s ease-in-out all;
}

#mobileNav li:first-child {
	margin-top: 20px;
}

#mobileNav li a {
	color: #981b1e;
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	font-size: 1.2em;
	margin: 0 auto;
	transition: .3s ease-in-out all;
}

#mobileNav li a:hover {
	color: #252525;
}

#smallContactIcon {
	max-width: 30px;
	float: left;
	margin-top: 6px;
	margin-left: 5px;
}

#smallContactIcon:hover {
	cursor: pointer;
	opacity: .8;
}

#mainNavAdditionlLinks {
	display: none;
}

#hamburgLogoCon {
	margin: 20px 20px 0px 20px;
}

#hamburgLogo {
	max-width: 200px;
	display: block;
	margin: 0 auto;
}

#extraHamburgLinks {
	list-style: none;
	text-align: center;
	margin-top: -19px;
}

#extraHamburgLinks li {
	padding: 10px 0px;
	margin-right: 20px;
	background-color: #e5e5e5;
	margin-bottom: 1px;
	transition: .2s ease-in-out all;
}

#extraHamburgLinks li:first-child {
	margin-top: 20px;
}

#extraHamburgLinks li a {
	color: #981b1e;
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	font-size: 1.2em;
	margin: 0 auto;
	transition: .3s ease-in-out all;
}

#extraHamburgLinks li a:hover {
	color: #252525;
}

/*-----Footer-----*/
#mainFooterWrapper {
	background-color: #fff;
	border-top: 8px solid #252525;
	padding: 30px 0px;
}

#footerContactInfoBox
{
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}

#mainFooter h2 {
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	font-size: 1.2em;
	color: #981b1e;
}

#mainFooter p {
	font-family: 'Overpass', sans-serif;
	font-weight: 400;
	font-size: .875em;
	color: #252525;
	margin: 0;
	padding: 0;
}

#mainFooter span
{
	color: #757575;
}

#mainFooter ul {
	list-style: none;
	margin: 0;
}

#mainFooter li {
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	font-size: 1em;
}

#mainFooter li a {
	color: #252525;
	transition: .3s ease-in-out all;
}

#mainFooter li a:hover {
	color: #981b1e;
}

#lowerFooterWrapper {
	background-color: #252525;
	padding: 10px 0px;
}

#lowerFooterWrapper p {
	color: #fff;
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	font-size: .875em;
	margin: 0;
	padding: 0;
}

#lowerFooterWrapper a {
	color: #808080;
	transition: .3s ease-in-out all;
}

#lowerFooterWrapper a:hover {
	color: #981b1e;
}

#lowerFooterLeft {
	text-align: center;
}

#lowerFooterRight {
	text-align: right;
}

#footerLock {
	max-width: 8px;
	float: right;
	margin-top: 5px;
	margin-left: 8px;
}

label {
	color: #757575;
	font-family: 'Overpass', sans-serif;
	font-weight: 400;
	font-size: .8em;
}

.address {
	display: none;
}

#inputfName, #inputlName, #inputEmail, #inputPhone, #inputAddress {
	border: 0px;
	height: 35px;
	background-color: #cccccc;
	margin-bottom: 8px;
}

#inputfName, #inputlName, #inputEmail, #inputPhone, #inputAddress:focus {
	box-shadow: none;
}

textarea {
	height: 55px;
	border: 0px;
	background-color: #cccccc;
}

textarea:focus {
	background-color: #cccccc;
	border: none;
	box-shadow: none;
}

#submit {
	float: right;
	border: 0px;
	background-color: transparent;
	color: #981b1e;
	cursor: pointer;
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	font-size: 1em;
	transition: .2s ease-in-out all;
}

#submit:hover {
	color: #252525;
}


@media (min-width: 23.4375em) {
	
	/*-----Header-----*/
	
	#topNavBar h1 {
		font-size: .7em;
		margin-top: 2px;
	}
	
}


@media (min-width: 40em) {
	
	/*-----General-----*/
	
	#pageTitle {
		padding: 20px 0px;
	}
	
	#pageTitle h1 {
		font-size: 2.25em;
	}
	
	.heading {
		font-size: 1.5em;
		font-weight: 700;
		text-align: left;
	}
	
	.subHeading {
		font-size: 1.125em;
		font-weight: 300;
		text-align: left;
	}
	
	.paragraph {
		font-size: 1em;
		font-weight: 400;
		text-align: left;
	}
	
	/*-----Home-----*/
	.homeRotatorImg {
		min-height: 350px;
	}
	
	.homeRotatorInfo {
		top: 40px;
		left: 50px;
		width: 400px;
		height: inherit;
	}
	
	#bookATour {
		font-size: 2em;
		font-weight: 300;
	}
	
	#dontWait {
		font-size: 2.5em;
		font-weight: 700;
		margin-top: -20px;
	}
	
	#bookingInfo {
		border-left: solid 2px #650f11;
	}
	
	#bookingCon {
		border: none;
	}
	
	#bookingInfo p {
		font-size: 1em;
	}
	
	#bookingInfo a {
		font-size: 1.25em;
	}

	.iconCon {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.iconCon h3, .iconCon p {
		text-align: center;
	}
	
	/*-----News-----*/
	.newsWrapper img {
		margin-bottom: 0px;
	}
	
	/*-----Contact-----*/
	#formCon {
		padding-right: 40px;
		border-right: 1px solid #a9a9a9;
	}
	
	#formWrapper h1 {
		text-align: left;
		margin-top: 0px;
	}
	
	#formWrapper p {
		text-align: left;
	}

	/*-----Booking-----*/
	#bookingHeaderPhone h3 {
		display: inline;
	}

	#bookingHeaderPhone h3 {
		margin-left: 20px;
	}

	#emailButCon {
		text-align: center;
		float: right;
		margin: 0;
	}

	#finePrint {
		margin-top: 0px;
	}

	/*-----Donate-----*/
	.donorCategoryBlack h2 {
		font-size: 1.25em;
	}

	.donorCategoryWhite p, .donorCategoryGrey p {
		font-size: 1em;
	}
	
	/*-----About-----*/
	#aboutBook h1 {
		text-align: left;
	}
	
	#aboutBook p {
		text-align: left;
	}
	
	#restorWrapper h1 {
		text-align: left;
	}
	
	#restorWrapper h2 {
		text-align: left;
	}
	
	#restorWrapper p {
		text-align: right;
	}
	
	#extraDesc {
		background-color: #b7b7b7;
		background-image: url(../images/extraDesc_BG.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	#extraDescCon p {
		font-size: 1.25em;
	}
	
	#islandSizeWrapper p {
		text-align: left;
	}
	
	#lightHouseHisTitle h1 {
		text-align: left;
	}
	
	#historyWrapper {
		background-color: #981b1e;
		background-image: url(../images/lighthouseHis_BG.jpg);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	#historyWrapper p {
		text-align: left;
	}
	
	#birdSancWrapper h1 {
		text-align: left;
	}
	
	#birdSancWrapper p {
		text-align: left;
		font-size: 1.25em;
	}
	
	/*-----Header-----*/
	#headerWrapper {
		background: #ffffff;
		background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 13%, #dfdfdf 13%, #dfdfdf 100%);
		background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 13%,#dfdfdf 13%,#dfdfdf 100%);
		background: linear-gradient(to right, #ffffff 0%,#ffffff 13%,#dfdfdf 13%,#dfdfdf 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=1 );
	}
	
	#topNavBarPhone {
		display: block;
		max-width: 20px;
		float: left;
		margin-right: 10px;
	}
		
	#topNavBar h1 {
		font-size: .75em;
	}
	
	#mobileNav {
		text-align: right;
		margin: 0;
		padding: 0;
	}
	
	#mobileNav li {
		border-bottom: none;
		display: inline;
		padding: 0px;
		margin-right: 0px;
		background-color: transparent;
		margin-bottom: 0px;
	}
	
	#mobileNav li:hover {
		background-color: transparent;
	}
	
	#mobileNav li:first-child {
		margin-top: 0px;
	}
	
	#mobileNav li:last-child {
		margin-right: 10px;
	}
	
	#mobileNav li a {
		display: inline;
		border-bottom: none;
		padding-left: 22px;
		font-size: .875em;
		background-color: transparent;
	}
	
	#mobileNav li:first-child a {
		padding-left: 0px;
	}
	
	#smallContactIcon {
		display: none;
	}
	
	#mainNavAdditionlLinks {
		list-style: none;
		display: block;
		text-align: right;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#mainNavAdditionlLinks li {
		display: inline;
	}
	
	#mainNavAdditionlLinks li a {
		margin-right: 10px;
		margin-left: 10px;
		color: #929292;
		font-family: 'Overpass', sans-serif;
		font-weight: 600;
		font-size: 1em;
		transition: .3s ease-in-out all;
	}
	
	#mainNavAdditionlLinks li a:hover {
		color: #981b1e;
	}
	
	#hamburgLogoCon {
		display: none;
	}
	
	#extraHamburgLinks {
		display: none;
	}
	
	/*-----Footer-----*/
	
	#lowerFooterLeft {
		text-align: left;
	}

}


@media screen and (min-width: 48.125em) {
	
	#headerLogo {
		max-height: 84px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	#mobileNav li a {
		font-size: 1.2em;
	}
	
}

@media screen and (min-width: 64em) {
	/*-----Header-----*/
	#mobileNav li:first-child a {
		padding-left: 40px;
	}
  
  .iconCon h3, .iconCon p {
		text-align: left;
	
}

@media screen and (min-width: 96.562em) {
	
	/*-----Header-----*/
	#headerWrapper {
		background: #ffffff;
		background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 20%, #dfdfdf 20%, #dfdfdf 100%);
		background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 20%,#dfdfdf 20%,#dfdfdf 100%);
		background: linear-gradient(to right, #ffffff 0%,#ffffff 20%,#dfdfdf 20%,#dfdfdf 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=1 );
	}
	
}

@media screen and (min-width: 120em) {
	
	/*-----Header-----*/
	#headerWrapper {
		background: #ffffff;
		background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 27%, #dfdfdf 27%, #dfdfdf 100%);
		background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 27%,#dfdfdf 27%,#dfdfdf 100%);
		background: linear-gradient(to right, #ffffff 0%,#ffffff 27%,#dfdfdf 27%,#dfdfdf 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=1 );
	}
	
}