/*Red = #981b1e*/
/*Dark Grey = #222222*/
/*Light Grey = #8eabc9*/
/*Black = #252525*/
/*White = #fff*/

::selection {
  background: #fff42afff42a;
  color: #252525;
}

::-moz-selection {
  background: #981b1e;
  color: #252525;
}


/* Admin Login */

#loginBodyWrapper
{
	background-color: #fff;
	height: 100vh;
}

#CMSLogin
{
	padding-top: 10%;
}

#CMSLogin h2
{
	font-size: 2em;
	color: #fff;
	text-align: center;
	font-family: 'Overpass', Arial, Times, Serif;
}

#adminLoginLogo
{
	display: block;
	margin: 0 auto;
	max-width: 250px;
	margin-bottom: 40px;
}

#CMSLoginBox
{
	background-color: #303030;
	padding: 30px;
	border-radius: 3px;
}

.adminLoginInput
{
	background-color: #fff;
	border-radius: 3px;
	border: none;
	margin: 0 auto;
	margin-bottom: 5px;
	font-family: 'Overpass', Arial, Times, Serif;
}

.adminLoginInput:focus
{
	box-shadow: none;
	border: none;
}

#adminLoginSubmit
{
	background-color: #981b1e;
	padding: 8px;
	border-radius: 3px;
	border: none;
	width: 100%;
	margin: 0 auto;
	display: block;
	font-family: 'Overpass', Arial, Times, Serif;
	font-weight: 700;
	color: #fff;
	margin-top: 10px;
	transition: .3s ease-in-out all;
	cursor: pointer;
}

#adminLoginSubmit:hover
{
	background-color: #fff;
	color: #303030;
}

#adminLoginError
{
	text-align: center;
	color: #fff42a;
	font-family: 'Overpass', Arial, Times, Serif;
}


/* Admin general */

#CMSlogoSideBar
{
	max-width: 200px;
	margin-bottom: 30px;
}

#CMSTopBar
{
	background-color: #303030;
	padding: 5px 0px;
}

#CMSTopBar h1
{
	color: #fff;
	font-size: 1em;
	margin: 0;
	padding: 0;
	font-family: 'Overpass', Arial, Times, Serif;
	font-weight: 700;
}

#CMSTopBar p
{
	color: #fff;
	font-size: .75em;
	margin: 0;
	padding: 0;
	font-family: 'Overpass', Arial, Times, Serif;
}

.CMSnav
{
	float: right;
	font-family: 'Overpass', Arial, Times, Serif;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after
{
	border-color: #fff transparent transparent;
}

.CMSnav a
{
	color: #fff;
	transition: .3s ease-in-out all;
}

.CMSnav a:hover
{
	color: #fff;
	border-left: 3px solid #fff;
	padding-left: 5px;
}

.topBarDropdownMenu
{
	background-color: #303030;
	border: none;
	border-bottom: 4px solid #303030;
}

.CMSCon
{
	padding: 30px 0px;
}

.CMSConDropdown
{
	padding: 5px;
	background-color: #303030;
	width: 210px;
	margin-bottom: 30px;
}

.CMSoptions
{
	font-family: 'Overpass', Arial, Times, Serif;
}

.CMSoptions a
{
	color: #fff;
	transition: .3s ease-in-out all;
}

.CMSoptions a:hover
{
	color: #981b1e;
}

.CMSoptions ul li ul 
{
	background-color: #303030;
	border: none;
	list-style: none;
	padding: 10px;
	width: 175px;
	margin: 0;
	border-right: 4px solid #981b1e;
}

.CMSleft h2
{
	color: #981b1e;
	font-family: 'Overpass', Arial, Times, Serif;
	font-weight: 400;
	font-size: 1.75em;
}

.CMSright
{
	padding: 30px 10px;
	margin: 20px 0px;
	border-top: 6px solid #981b1e;
}

.editAllLabel {
	color: #252525;
	font-family: 'Overpass', Arial, Times, Serif;
	font-weight: 400;
	font-size: 1.25em;
}

.editAllInput {
	background-color: #303030;
	border: none;
	box-shadow: none;
	color: #fff;
	font-family: 'Overpass', Arial, Times, Serif;
	font-weight: 400;
	font-size: .875em;
}

.editAllInput:focus {
	background-color: #303030;
	border: none;
	box-shadow: none;
	color: #fff;
	font-family: 'Overpass', Arial, Times, Serif;
	font-weight: 400;
	font-size: .875em;
}

.editAlltextarea {
	background-color: #303030;
	border: none;
	box-shadow: none;
	color: #fff;
	font-family: 'Overpass', Arial, Times, Serif;
	font-weight: 400;
	font-size: .875em;
	height: 150px;
}

.editAlltextarea:focus {
	background-color: #303030;
	border: none;
	box-shadow: none;
	color: #fff;
	font-family: 'Overpass', Arial, Times, Serif;
	font-weight: 400;
	font-size: .875em;
}

.editAllSubmit {
	border: none;
	color: #fff;
	font-family: 'Overpass', Arial, Times, Serif;
	font-weight: 700;
	font-size: 1em;
	background-color: #981b1e;
	padding: 8px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s ease-in-out all;
	margin-top: 20px;
	float: right;
}

.editAllSubmit:hover {
	background-color: #303030;
}

/* Edit/Add User */

#addEditUserWrapper
{
	padding: 40px 0px;
}

#addEditUserWrapper label
{
	color: #252525;
	font-family: 'Overpass', Arial, Times, Serif;
	font-weight: 400;
	font-size: .8em;
}

.hideChar
{
	-webkit-text-security: disc;
}

.inputAddEdit
{
	border: 0px;
	height: 50px;
	background-color: #303030;
	margin-bottom: 8px;
	color: #fff;
	font-family: 'Overpass', Arial, Times, Serif;
}

.inputAddEdit:focus
{
	box-shadow: none;
	background-color: #303030;
	border: none;
	
}

#addEditUserWrapper select
{
	border: 0px;
	height: 50px;
	background-color: #303030;
	margin-bottom: 8px;
	color: #fff;
	font-family: 'Overpass', Arial, Times, Serif;
	cursor: pointer;
	margin-top: 22px;
}

#addEditUserWrapper select:focus
{
	box-shadow: none;
	background-color: #303030;
	border: none;
}

#addEditSubmit
{
	float: right;
	border: 0px;
	background-color: #981b1e;
	padding: 8px 25px;
	border-radius: 3px;
	color: #fff;
	font-family: 'Overpass', Arial, Times, Serif;
	cursor: pointer;
	font-size: 1em;
	transition: .3s ease-in-out all;
	margin-top: 20px;
}

#addEditSubmit:hover
{
	background-color: #303030;
}

#addEditUserWrapper p
{
	color: #354044;
	font-size: 1em;
	margin-top: 25px;
	font-family: 'Overpass', Arial, Times, Serif;
}

/* Delete Box */

.delCon {
	background-color: #303030;
	padding: 5px;
	color: #fff;
	font-family: 'Overpass', Arial, Times, Serif;
	font-size: .875em;
	text-align: center;
}

.delConBut {
	background-color: #981b1e;
	margin-bottom: 20px;
	font-family: 'Overpass', Arial, Times, Serif;
	font-size: .875em;
	text-align: center;
	padding: 10px 0px;
}

.delConBut a {
	color: #fff;
	transition: .3s ease-in-out all;
	font-weight: 700;
}

.delConBut a:hover {
	opacity: .5;
}

/* Success Page */

#successCon
{
	padding: 40px 0px;
}

#successCon h2
{
	font-family: 'Overpass', Arial, Times, Serif;
	font-size: 1.875em;
	color: #354044;
	font-weight: 500;
	text-align: center;
}

#successCon p
{
	font-family: 'Overpass', Arial, Times, Serif;
	font-size: 1.25em;
	color: #354044;
	font-weight: 400;
	text-align: center;
	margin-top: 50px;
}

#successCon a
{
	background-color: #fff42a;
	padding: 12px 25px;
	border-radius: 5px;
	color: #354044;
	transition: .3s ease-in-out all;
}

#successCon a:hover
{
	background-color: #981b1e;
	color: #fff;
}




@media screen and (min-width: 40em) /* 640px */
{
	
	
}